.xitong-container{
  margin-top: 40px;
  width: 100%;
  position: relative;
}
.xitong-container .xitong-nav{
  width: 100%;
  height: 31px;
  background: url(/img/tab_10.gif)  repeat-x;
}
.xitong-container .xitong-nav ul{
  width: 684px;
}
.xitong-container .xitong-nav ul li{
  list-style: none;
  float: left;
  width: 108px;
  height: 31px !important;
  border-right: solid 1px #1d1d1d;
  text-align: center;
}
.xitong-container .xitong-nav ul li a{
  font-size: 12px;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 30px;
  padding: 0;
  height: 31px;
  text-decoration: none;
}
.xitong-container .xitong-nav ul li:hover{
  border-top:2px solid #b1b1b1;
  background: #e9e9e9;
  height: 31px;
}
.xitong-container .xitong-nav ul li:hover a{
  color: #2f2f2f;
}
.xitong-container .xitong-search{
  width: 100%;
  height: 54px;
  background: url(/img/icon_01.gif) 0 -325px;
  border:#b1b1b1 solid 1px;
  border-top: #fff solid 1px;
}
.xitong-container .xitong-search .add{
  width: 77px;
  height: 28px;
  float: left;
  margin: 5px;
  margin-top: 12px;
  background: url(/img/icon_01.gif)0 -0 no-repeat;
}
.xitong-container .xitong-search .del{
  width: 77px;
  height: 28px;
  float: left;
  margin: 5px;
  margin-top: 12px;
  background: url(/img/icon_01.gif)0 -43px no-repeat;
}
.xitong-container .xitong-search button{
  width: 100%;
  height: 100%;
  opacity: 0;
}
.xitong-container .xitong-search .search-text{
  width: 141px;
  height: 26px;
  float: left;
  margin-top: 13px;
  margin-left: 30px;
}
.xitong-container .xitong-search .search-text input{
  width: 141px;
  height: 26px;
  border: solid 1px #7b7b7b;
  background: #eee;
  border-radius: 5px;
}
.xitong-container .xitong-search .search-button{
  width: 50px;
  height: 26px;
  background: url(/img/icon_01.gif) 0 -88px no-repeat;
  float: left;
  margin: 5px;
  margin-top: 12px;
}
.modal-body ul{
  width: 80%;
  margin: 20px auto;
  list-style: none;
}
.modal-body ul li{
  width: 100%;
  margin-top: 5px;
  height: 30px;
  border-radius: 5px;
  border:solid 1px #eee;
}
.modal-body ul li input{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border:solid 1px #eee;
}
